*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
    scrollbar-color:#242323 #dacccc; 
}
::selection {
    background-color: var(--main-blackish);
    color: var(--text-color1);
}
::-moz-selection { /* For Firefox */
    background-color: var(--main-blackish);
    color: var(--text-color1);
}  
:root{
--bg-color: #0c0c0c;
--text-color1: #fff;
--text-color2: #dacccc;
--main-color: #39393d;
--main-blackish: #242323;
--big-font: 4rem;
--p-font: 4rem;
  
  
}
header{
position: fixed;
background-color: #242323;
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 40px 7% 20px 7%;
    margin: -15px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
.logo{
    margin: 0px 90px 0px -40px;
  }
  .logo img{
      width: 70px;
      height: 60px;
      
  }
  .navi-list{
      display: flex;
      margin: 0px 30px 0px 600px;
      
  }
  .navi-list li{
      display: inline-block;
      margin: 0 25px;
      font-size: 24px;
      font-weight: 700;
  }
  .navi-list  li a{
      font-size: 24px;
      font-weight: 700;
      color: var(--text-color2);
      position: relative;
      display: inline-block;
      margin-bottom: 4px;
  }
  .navi-list  li a:hover{
      color: var(--text-color1);
  }
  .navi-list  li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: var(--text-color1);
      transition: width 0.3s ease-in-out;
  }
  .navi-list  li a:hover::after {
      width: 100%;
  }
  .deux{
      color: var(--text-color2);
      font-size: 32px;
  }
  .Uno {
      text-decoration: underline;
      text-underline-offset: 7px;
      color: var(--text-color1);
      font-size: 24px;
  }
  .Uno ::after{
      display: none;
  }
  .Uno :hover::after {
      width: 0%;
  }
  